{
  "ingest_port": 8112,
  "ingest_host": "localhost",
  "db_host": "localhost",
  "db_port": 5432,
  "db_user": "new_user",
  "db_pass": "password",
  "db_name": "mydatabase",
  "listen_port": 5123,
  "debug": false
}