{
  "ingest_host": "127.0.0.1",
  "ingest_http_port": 8080,
  "db_host": "localhost",
  "db_port": 5432,
  "db_user": "new_user",
  "db_pass": "password",
  "db_name": "mydatabase",
  "metrics_base_url": "http://localhost:5133",
  "listen_port": 5123,
  "public_add_receiver_enabled": true,
  "ip_address_timeout_minutes": 60,
  "max_failed_signup_attempts": 5,
  "port_metrics_hours": 1,
  "webhook_url": "http://localhost:5135",
  "debug": false
}
