{
  "db_host": "localhost",
  "db_port": 5432,
  "db_user": "new_user",
  "db_pass": "password",
  "db_name": "mydatabase",
  "listen_port": 5135,
  "smtp_host": "smtp.example.com",
  "smtp_port": 587,
  "smtp_user": "user@example.com",s
  "smtp_pass": "password",
  "smtp_use_tls": true,
  "smtp_tls_skip_verify": false,
  "from_address": "alerts@example.com",
  "from_name": "Alerts Service",
  "to_addresses": "ops@example.com,admin@example.com",
  "site_domain": "example.com",
  "receivers_base_url": "http://localhost:5123",s
  "statistics_base_url": "http://localhost:5005",
  "statistics_report_enabled": true,
  "statistics_report_time": "saturday,01:00"
}