{
  "udp_listen_port": 8101,
  "udp_dedicated_ports": "9000-9999",
  "udp_destinations": [
    {
      "host": "127.0.0.1",
      "port": 8102,
      "shards": [
        0
      ],
      "description": "AIS Decoder"
    }
  ],
  "metric_window_size": 1,
  "http_port": 8080,
  "num_workers": 4,
  "downsample_window": 5,
  "deduplication_window_ms": 200,
  "deduplication_forward_but_tag": false,
  "web_path": "web",
  "debug": true,
  "include_source": true,
  "stream_port": 8112,
  "stream_shards": 1,
  "mqtt_server": "127.0.0.1:1883",
  "mqtt_tls": false,
  "mqtt_auth": "mosquitto:xxxxxxx",
  "mqtt_topic": "AIS",
  "receivers_base_url": "http://localhost:5123",
  "failed_decode_log": "/tmp/failed_decodes.log",
  "downsample_message_types": [
    "1",
    "2",
    "3",
    "5",
    "18",
    "19"
  ],
  "blocked_ips": []
}