{
  "udp_listen_port":          8101,
  "udp_destinations": [
    {
      "host": "127.0.0.1",
      "port": 8001,
      "shards": [0],
      "description": "Destination 1 for shard 0"
    },
    {
      "host": "127.0.0.1",
      "port": 8002,
      "shards": [0],
      "description": "Destination 2 for shard 0"
    }
  ],
  "blocked_ips": [
      "192.168.1.1",
      "10.0.0.2"
  ],
  "metric_window_size":       1,
  "http_port":                8080,
  "num_workers":              1,
  "downsample_window":        2,
  "deduplication_window_ms":  1000,
  "web_path":                 "web",
  "debug":                    false,
  "include_source":           false,
  "stream_port":              8102,
  "stream_shards":            1,
  "mqtt_server":              "",
  "mqtt_tls":                 true,
  "mqtt_auth":                "username:password",
  "mqtt_topic":               "aisDecodes",
  "downsample_message_types": ["1", "2", "3", "18", "19"]
}
