{
  "ingester_host": "localhost",
  "ingester_port": 8080,
  "listen_port": 5001,
  "poll_interval": 5,
  "extra_lookup_table": "vesselfinder",
  "receivers_base_url": "http://localhost:5123",
  "metrics_base_url": "http://localhost:5133",
  "statistics_base_url": "http://localhost:5005",
  "weather_base_url": "http://localhost:5134",
  "public_mqtt_websockets_host": "mqtt.mysite.com",
  "public_mqtt_port": 1234,
  "public_mqtt_topic": "AIS",
  "cache_time": 10,
  "redis_host": "127.0.0.1",
  "redis_port": 6379,
  "debug": false
}