{
  "ingest_port": 8112,
  "ingest_host": "localhost",
  "ingest_udp_listen_port": 8101,
  "db_host": "localhost",
  "db_port": 5432,
  "db_user": "new_user",
  "db_pass": "password",
  "db_name": "mydatabase",
  "redis_host": "127.0.0.1",
  "redis_port": 6379,
  "listen_port": 5000,
  "socketio_listen": 4000,
  "description": "Shard 0 collector",
  "shards": [0],
  "external_lookup": "http://127.0.0.1:5111/lookup",
  "external_lookup_timeout": 1000,
  "receivers_base_url": "http://localhost:5123",
  "minimum_distance": 30,
  "time_filters": {
    "4":   "1h",
    "5":   "30m",
    "20":  "1h",
    "21":  "30m",
    "24":  "30m"
  },
  "debug": false
}
