{
  "ingest_port": 8112,
  "ingest_host": "localhost",
  "db_host": "localhost",
  "db_port": 5432,
  "db_user": "new_user",
  "db_pass": "password",
  "db_name": "mydatabase",
  "listen_port": 5000,
  "description": "Shard 0 collector",
  "shards": [0],
  "external_lookup": "http://127.0.0.1:5111/lookup",
  "external_lookup_timeout": 1000,
  "debug": false
}
