{
  "ingest_port": 8080,
  "ingest_host": "localhost",
  "receivers_base_url": "http://localhost:5123",
  "influx_host": "localhost",
  "influx_port": 8086,
  "influx_db": "ais_metrics",
  "listen_port": 5133,
  "cache_time": 10,
  "redis_host": "127.0.0.1",
  "redis_port": 6379,
  "debug": false
}